.bgtext{
    background-color: #2f4659;
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bgtext3{
    background-color: #006e8c;
    width: 100%;
    height: 250px;
}
.centercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.footerlogo{
    width: 75px;
    margin-top: 10px;
}
.footertext{
    font-family: Glacial;
    color: white;
}
.footerSM{
    width: 50px;
    margin-left: 10px;
}