.bgtext{
    background-color: #2f4659;
    width: 100%;
    height: 1100px;
    position: relative;
    top: 60px;
}
.projectheaders{
    font-size: 5vw;
    margin: 0%;
    padding-top: 25px;
    color: white;
    font-family: Glacial;
    text-align: center;
    letter-spacing: 7px;
}
.placeholderimg{
    width: 30vw;
    padding-top: 15px;
}
.info{
    color: white;
    font-family: IBM;
    font-size: 1vw;
    max-width: 30vw;
    
}
.containeralignment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bgtext3{
    background-color: #006e8c;
    width: 100%;
    height: 250px;
    position: relative;
}
.centercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.footerlogo{
    width: 75px;
    margin-top: 10px;
}
.footertext{
    font-family: Glacial;
    color: white;
}
.footerSM{
    width: 50px;
    margin-left: 10px;
}