.bgtext{
    background-image: linear-gradient(to right, #2f4659, #14578d);
    width: 100%;
    height: 1100px;
    position: relative;
    top: 60px;
}
.projectheaders{
    font-size: 5vw;
    margin: 0%;
    padding-top: 25px;
    color: white;
    font-family: Glacial;
    text-align: center;
    letter-spacing: 7px;
}
.placeholderimg{
    width: 30vw;
    padding-top: 15px;
}
.info{
    color: white;
    font-family: IBM;
    font-size: 1vw;
    max-width: 30vw;
    
}
.containeralignment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}